*{
  font-weight:bold;
  margin: 0;
  padding: 0;
  
  
}
.box h1 ,h5 , p 
{
  color:#edc8c8;
   font-family: 'Montserrat', sans-serif;
  font-family: 'Pixelify Sans', cursive;
 font-family: 'Poppins', sans-serif;
  

}
.box h1,h5{
  -webkit-text-stroke: 1.2px black;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2020/09/04/neon-background--wallpaper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  text-align: center;
  
  
}

.container {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  max-height: 100vh;
}

.box-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.box h1, .box h5 {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 20px 0;
}

.box h5 {
  font-size: 30px;
  letter-spacing: 3px;
}

.box p {
  text-align: justify;
  font-size: 18px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

ul li {
  margin-bottom: 10px;
  list-style: none;
}
ul li a {
  padding: 0 !important;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 165px;
  transition: all ease-in-out 250ms;
}


.github-links li:hover a {
  color: black;
}

.youtube-links li:hover a {
  color: red;
}

.discord-links li:hover a {
  color: blue;
}

.spotify-links li:hover a {
  color: #1bfc50e0;
}
footer{
  padding: 5px;
  color: wheat;
  background-color: black;
  /* border: 5px solid aquamarine; */
  position: absolute;
  bottom: -1100;
  height: 30px;
  width: 1525px;
  text-align: center;
  font-size: 23px;
  opacity: .4;

  
}
.ftext{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



@media (max-width: 768px) {
  body {
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/09/04/neon-background--wallpaper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .box-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 250px; 
}

  .box h1 {
    font-size: 36px;
    margin: 10px 0;
  }

  .box h5 {
    font-size: 24px;
  }

  ul li a {
    font-size: 36px;
    
  }

  .box li a {
    font-size: 100px;
   
  }

  .box p {
    font-size: 18px;
  }

  .copy-box {
    display: none;
  }

  .copy-box, .donate-box {
    display: none;
  }
  footer{
    bottom: -750px;
  }
  }

.box h1,h5{
  -webkit-text-stroke: 0.7px black;
}


@media screen and (min-width: 601px) {
  .copy-box {
    display: block;
  }

  .donate-box {
    display: none;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

h1, p {
  margin: 0;
}

.snowflake {
  position: absolute;
  color: #fff;
  font-size: 25px;
}

@keyframes snowfall {
  0% {
    top: -5%;
  }
  100% {
    top: 200%;
  }
}


.copy-box {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 238, 88, 0);
  border: 4px solid #09b3e7d7;
  width: 195px;
}

.copy-link-input {
  font-size: 14px;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: 8px;
}

.copy-link-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  color: #333333;
  outline: none;
  border: 1px solid #cccccc;
  cursor: pointer;
  margin: 0 auto;
}

.copy-link-button:hover {
  background: #cccccc;
}

.copy-text {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
