body {
  margin: 50px;
  padding: 0;
  background-color: #c991ef;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.box-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.box h1 {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 20px 0;
}

.box h5 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
  margin: 0;
}

.box p {
  text-align: justify;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

ul li {
  margin: 10px;
}

ul li a {
  font-size: 48px;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 145px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #b9b9b9;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 50px;
    background-color: #c991ef;
    background-size: cover;
    max-height: 100vh;
    text-align: center;
  }

  .box-img {
    max-width: 300px;
  }

  .box h1 {
    font-size: 36px;
    margin: 10px 0;
  }

  .box h5 {
    font-size: 24px;
  }

  ul li a {
    font-size: 36px;
  }

  .box li a {
    font-size: 100px;
  }
  
  .box p {
    font-size: 18px;
  }
}
